<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .movie-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  text-align: center;
  background-color: white;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

  </style>
</head>
<body>
  <div class="container">
    <h1>Search Results</h1>
    <div class="movie-cards">
      <% searchResults.forEach(movie => { %>
        <div class="movie-card">
          <h2><%= movie.mname %></h2>
          <p>Director: <%= movie.director %></p>
          <p>Genre: <%= movie.genre %></p>
          <p>Rating: <%= movie.rating %></p>
          <img src="<%= movie.image %>" alt="<%= movie.mname %>">
        </div>
      <% }) %>
    </div>

    <h1>Latest Movies</h1>
    <div class="movie-cards">
      <% latestMovies.forEach(movie => { %>
        <div class="movie-card">
          <h2><%= movie.mname %></h2>
          <p>Director: <%= movie.director %></p>
          <p>Genre: <%= movie.genre %></p>
          <p>Rating: <%= movie.rating %></p>
          <img src="<%= movie.image %>" alt="<%= movie.mname %>">
        </div>
      <% }) %>
    </div>

    <h1>Top Rated Movies</h1>
    <div class="movie-cards">
      <% topRatedMovies.forEach(movie => { %>
        <div class="movie-card">
          <h2><%= movie.mname %></h2>
          <p>Director: <%= movie.director %></p>
          <p>Genre: <%= movie.genre %></p>
          <p>Rating: <%= movie.rating %></p>
          <img src="<%= movie.image %>" alt="<%= movie.mname %>">
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
